@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,900&display=swap');
@import "../fonts/Inter/Inter (web)/inter.css";

@import "navbar.css";
@import "home.css";
@import "about-me.css";
@import "photography.css";
@import "contact-me.css";
@import "footer.css";



* {
    box-sizing: border-box;
}

body {
    background: #FFF;
    font-size: 16px;
    /*font-family: 'Inter';*/
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    color: #000000;
    -webkit-font-smoothing: antialiased;
    overflow-x: hidden;
}
a:hover{
    text-decoration: none;
}
.flex{
    display: flex;
}
.button-icon-float{
    position: relative;
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}
.button-icon-float i{
    position: absolute;
    right: 35px;
    top: 13px;
    /*transform: translateX(-20px);*/
    opacity: 0;
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}
.button-icon-float:hover > i{
    right: 15px;
    opacity: 1;
}

.contact-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.contact-form .form-group{
    width: 100%;
    margin-bottom: 1em;
}
.contact-form .contact-form-label{
    font-size: 1em;
    color: #fff;
}
.contact-form .contact-form-input,
.contact-form .contact-form-textarea{
    border-radius: 2px;
    border: none;
}
.contact-form .contact-form-input:focus,
.contact-form .contact-form-textarea:focus{
    outline-color: transparent;
    box-shadow: 0 14px 28px rgba(0,0,0,0.05), 0 10px 10px rgba(0,0,0,0.08);
}
.contact-form-submit{
    padding: 4px 40px;
    background-color: #fff;
    border: none;
    font-size: 1em;
    font-weight: 600;
    border-radius: 2px;
    color: #375AE6;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05), 0 1px 2px rgba(0, 0, 0, 0.08);
}
.contact-form-submit:hover{
    box-shadow: 0 14px 28px rgba(0,0,0,0.05), 0 10px 10px rgba(0,0,0,0.08);;
}







#goto-top {
    display: inline-block;
    background-image: linear-gradient(160deg, rgba(62, 188, 254, .9), rgba(55, 90, 230, .9));
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05), 0 1px 2px rgba(0, 0, 0, 0.08);
    width: 35px;
    height: 35px;
    text-align: center;
    border-radius: 2px;
    position: fixed;
    bottom: 50px;
    right: 30px;
    transition: background-color .3s, opacity .5s, visibility .5s, scale .3s ease-out;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
}
#goto-top::after {
    content: "\f077";
    font-family: "Font Awesome 5 Free";
    font-weight: 700;
    font-style: normal;
    font-size: 1em;
    line-height: 35px;
    color: #fff;
    transition: .3s ease-out;
}
#goto-top:hover {
    cursor: pointer;
    background-color: #333;
    transform: scale(1.1);
    transition: .2s ease-in;
}
#goto-top:active {
    background-color: #555;
}
#goto-top.show {
    opacity: 1;
    visibility: visible;
}





@media (max-width: 576px) {
    .my-container {
        padding: 0 20px;
    }

    .contact-form .form-group{
        width: 100%;
        margin-bottom: .5em;
    }
    .contact-form .contact-form-input{
        height: 30px;
        font-size: .9em;
    }
    .contact-form .contact-form-textarea{
        font-size: .9em;
    }
}
@media (min-width: 576px) {
    .my-container {
        padding: 0 30px;
    }
}

@media (min-width: 768px) {
    .my-container {
        padding: 0 40px;
    }
}

@media (min-width: 992px) {
    .my-container {
        padding: 0 50px;
    }
}

@media (min-width: 1200px) {
    .my-container {
       padding: 0 60px;
    }
}
